.layer-wrapper {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    &__content {
        padding: 20px 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}